<div class="container public">
  <img
    id="login__background"
    sizes="(max-width: 1222px) 100vw, 1222px"
    srcset="
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_200.png 200w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_200.png 200w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_435.png 435w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_521.png 521w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_591.png 591w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_655.png 655w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_714.png 714w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_336.png 336w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_769.png 769w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_822.png 822w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_874.png 874w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_920.png 920w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_965.png 965w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_1008.png 1008w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_1052.png 1052w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_1095.png 1095w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_1135.png 1135w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_1177.png 1177w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_1221.png 1221w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_1219.png 1219w,
/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_1222.png 1222w"
    src="/assets/images/login/jordan-whitfield-112404-unsplash_umxmqg_c_scale,w_1222.png"
    alt="">
  <router-outlet></router-outlet>
</div>
