.public {
  //background: transparent url(/assets/images/edgar-castrejon-459807-unsplash.jpg) no-repeat center center;
  //background-size: cover;
  min-height: 100vh;
}

#login__background  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vmax;
  height: 100vmax;
}
